@font-face{
   font-family:heinan;
   src:url("/assets/fonts/HEINAN.otf");

}

.main_header_div{
   background-color:rgb(220,217,213);
   display:flex;
   align-items:center;
}

.header_left_side{
    display:flex;
    align-items:center;
    width:50%;

}

.header_left_side img{
    width:20%;
    height:10%;

}

.header_left_side label{
    font-size:40px;
    font-family:heinan;
}

.page_logo_div{

    
}


.header_right_side{
    width:50%;
    height:15%;
    display:flex;
    justify-content: right;
    align-content: center;

}

.header_right_side input{
    cursor:text;
    border-radius:0.2rem;
    margin-right:25px;
    border:none;
    outline:none;
    background-color:whitesmoke;
    color: black;
    font-size:20px;
    border-bottom:1px;

}